<!-- DO NOT MODIFY -->
<div class="container">
  <h1>Simple Simon Says</h1>
  <a id="get_color" href="#">Click Me</a>
  <!-- <button id='get_color_button' href="#">Click Me</button> -->
</div>
  
<ul id="color_me">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
